.sidebar{
    flex: 1;
    position: sticky;
    top: 50px;
    background-color: rgb(251, 251, 255);
    height: calc(100vh - 50px);
    
}
.sidebarWrapper{
    padding: 20px;
    color: #555;
}
.sidbarMenue{
    margin-bottom: 10px;
}
.sidbarTitle{
    font-size: 14px;
    color: rgb(187, 186, 186);
}
.sidbarList{
    list-style: none;
    padding: 5px;
}
.sidbarListItem{
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.sidbarListItem.activ ,.sidbarListItem:hover{
    background-color: rgb(240, 240, 2555);
}
.sidbarIcon{
    margin-right: 5px;
    font-size: 20px;
}